#G{
  position:absolute;
  top: 59.5%;
  left: 81.5%;
}

#A{
  position: absolute;
  top:68.3%;
  left:61.2%;
}

#G_div{
  position:absolute;
  top: 59.5%;
  left: 25%;
}

#G_number{
  position: relative;
  top: -35px;
}

#tri{
  position: absolute;
  top:46%;
  left:22%;
  width: 80px;
  height: 80px;
}

#word{
  position: absolute;
  top:37%;
  left: 7%;
  width: 40px;
  height: 40px;
  font-size: 50px;
  writing-mode:vertical-lr;
}

.circle_size{
  width: 30px;
  height: 30px;
  border: 6px #ff9204 solid;
  border-radius:100%
}

.circle_size:hover{
  width: 30px;
  height: 30px;
  border: 6px #ff0804 solid;
  border-radius:100%
}


.P3_map{
    position: absolute;
    left: 50%;
    top: 10%;   
    width: 700px;
    height: 700px;

}

.P3_text{
    position: absolute;
    color: red;
    font-size: 40px;
    left: 60%;
    top: 75%;
}

h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: rgb(5, 5, 5);
    width: 3em;
    height: 3em;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 11%;
    top: 25%;
    margin: auto;
    height: 1em;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  /*
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed rgb(255, 255, 255,);
    border-radius: 2em;
  }
  */
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
  }

  .fix_position{
      position: absolute;
      top:30%;
      left: 10%;
  }