#cancel_buttton{
    font-size: 15px;
    background-color: rgb(214, 213, 213);
    width: 5%;
    margin-top: 1%;
    text-align: center;
    border: 1px solid #000;
}
#outside{
    border: 2px solid #25528f;
    margin: 5% 5% 5% 5%;
}
#h1_title{
    margin: 0;
    color: white;
    background-color: #25528f;
}
.display{
    float: left;
}
.display_get{
    float: left; 
    margin-left: 1%;
}
.display_block{
    padding-top: 1%;
}
.display_outsideblock{
    padding: 2%;
}