<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成大車位預約-功能選擇</title>
    <meta name="description" content="幫助學生快速停車"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style_P2.css') }}">



</head>
<body>
    <header>
    <form action="">
       <a href="index_form.html"><img src="/static/picture/man.png" alt="預約記錄" width="100"></a>
    </form>
    </header>

    <main>
        <section class="title">
            <h1 style="color: white;">成大車位,輕鬆預約!</h1>
            <img src="/static/picture/moto.png" alt="機車" width="250px" height="200px" >
        </section>

        <section class="reserved">
            <form action="">
                <input type="image" src="/static/picture/車位預約.png"alt="圖片" width="200">
                <img src="/static/picture/line.png" alt="分隔線" width="1.5">
                <input type="image" src="/static/picture/即時車位查詢.png"alt="圖片" width="215">
            </form>
        </section>
    </main>
</body>

</html>