<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    >
    <title>成大車位預約-停車位預約結果</title>
</head>
<body>
    <main>
        <!--NAV-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
            <div class="container-fluid">
            <a class="navbar-brand" href="">Group5 成大預約停車系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="go_P2()">主頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="go_P3()">查看所剩車位</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="go_P4()">預約車位</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    <!--本體-->
        <div class="outside" style="border: 2px solid #25528f; margin-top: 5%; margin-left: 5%; margin-right: 5%;">
            <section class="title">
                <h1 style="margin: 0; color: white; background-color: #25528f">車位預約結果</h1>
            
            </section>
            <section class="resalt">
        
                <form action="">
                    <h2 >姓名</h2>
                    <h2 >學號</h2>
                    <h2 >時間</h2>
                    <h2 >停車場</h2>
                    <h2 >車位編號</h2>
            
                </form>

                <button style="font-size: 15px; background-color: rgb(214, 213, 213);">取消預約</button>
                
            
            </section>
        </div>
    </main>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" charset="utf-8">
        //查看所所填入之資料
        function go_P2(){
            var getUrlString = location.href;
            var url = new URL(getUrlString);
            user_id = url.searchParams.get('user_id');
            window.location.href="index_P2.html?user_id=" + user_id
        }
        //查看 停車場所剩下之資料
        function go_P3(){
            var getUrlString = location.href;
            var url = new URL(getUrlString);
            user_id = url.searchParams.get('user_id');
            window.location.href="index_P3.html?user_id=" + user_id
        }
        //預約停車場
        function go_P4(){
            var getUrlString = location.href;
            var url = new URL(getUrlString);
            user_id = url.searchParams.get('user_id');
            window.location.href="index_P4.html?user_id=" + user_id
        }
    </script>
</html>