<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成功大學停車場預約</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    >
    <!--<link href="stylep5.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/stylep5.css') }}">
    
</head>
<body class="body" onload="getselect()">
    <!--NAV-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Group5 成大預約停車系統</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Map</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <!--本體-->
    <div class="form">
        <div class="w20">
            <label class="f3">車牌號碼</label>
            <input class="f10" type="text" id="user_car" >
        </div>
        <br>
        <div class="w20">
            <label class="f3">預約停車場</label>
            <select class="f10 sel" value="" id="select_select">
                <option selected="selected" id="user_select_park" ></option>
                <option onload="getselect()" >A 光復前門地下停車場</option>
                <option>B 管院地下停車場</option>
                <option>C 雲平地下停車場</option>
                <option>D 修齊地下停車場</option>
                <option>E 都計地下停車場</option>
                <option>F 成功前門地下停車場</option>
                <option>G 三系館地下停車場</option>
                <option>H 奇美樓地下停車場</option>
                <option>I 生科大樓地下停車場</option>
                <option>J 理學大樓地下停車場</option>
                <option>1 管院平面</option>
                <option>2 雲平平面</option>
                <option>3 新園平面</option>
                <option>4 土木及水利平面</option>
                <option>5 自強平面</option>
                <option>6 勝後平面</option>
                <option>6 勝後平面</option>
                <option>7 力行平面</option>
                <option>8 成杏平面</option>
            </select>
        </div>
        <br>
        <div class="w20">
            <label class="f3">預約日期</label>
            <div class="w10" style="margin-left: 0.5%;">
                <input type="datetime-local" id="user_park_date"
                    name="meeting-time" value= ""
                    min="" max = "">
                        <script>
                            date = new Date();
                            year = date.getFullYear();
                            month = date.getMonth()+1;
                            day = date.getDate();
                            hour = date.getHours();
                            month = month.toString();
                            day = day.toString();
                            hour = ("0" + hour.toString()).slice(-2);
                            if ((month.length)==1)
                            {
                                month = "0" + month;
                            }
                            if ((day.length)==1)
                            {
                                day = "0" + string(day);
                            }
                            document.getElementById("user_park_date").value = year + "-" + month + "-" + day + "T" + hour + ":00";
                            //設定目前時間
                            document.getElementById("user_park_date").min = year + "-" + month + "-" + day + "T"+ hour + ":00";
                            //設定最小期限 只能預約今天 
                            var max_date = new Date(document.getElementById("user_park_date").value); 
                            max_date.setDate(max_date.getDate() + 1);  
                            //抓取最大日期 設定為當前日期多一天
                            max_year = max_date.getFullYear();
                            max_month = max_date.getMonth()+1;
                            max_day = max_date.getDate();
                            max_hour = max_date.getHours();
                            max_month = month.toString();
                            max_day = max_day.toString();
                            max_hour = ("0" + max_hour.toString()).slice(-2);
                            if ((max_month.length)==1)
                            {
                                max_month = "0" + max_month;
                            }
                            if ((max_day.length)==1)
                            {
                                max_day = "0" + string(max_day);
                            }
                            // 調整最大日期之格式
                            document.getElementById("user_park_date").max = max_year + "-" + max_month + "-" + max_day + "T"+ max_hour + ":00";
                            // 設定最大期限 只能預約明天
                        </script>
                <button  onclick="book_park()">送出預約</button>
            </div>
            
        </div>
        <br>      
    </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>

<script type="text/javascript" charset="utf-8">
    //剛開始進入頁面 讀取先前所選的預約頁按鈕之停車場
    function getselect(){
        var getUrlString = location.href;
        var url = new URL(getUrlString);
        select_page = url.searchParams.get('select');
        if (select_page=="A"){
            document.getElementById("user_select_park").text = "A 光復前門地下停車場";
        }
        else if(select_page=="B"){
            document.getElementById("user_select_park").text = "B 管院地下停車場";
        }
        else if(select_page=="C"){
            document.getElementById("user_select_park").text = "C 雲平地下停車場";
        }
        else if(select_page=="D"){
            document.getElementById("user_select_park").text = "D 修齊地下停車場";
        }
        else if(select_page=="E"){
            document.getElementById("user_select_park").text = "E 都計地下停車場";
        }
        else if(select_page=="F"){
            document.getElementById("user_select_park").text = "F 成功前門地下停車場";
        }
        else if(select_page=="G"){
            document.getElementById("user_select_park").text = "G 三系館地下停車場";
        }
        else if(select_page=="H"){
            document.getElementById("user_select_park").text = "H 奇美樓地下停車場";
        }
        else if(select_page=="I"){
            document.getElementById("user_select_park").text = "I 生科大樓地下停車場";
        }
        else if(select_page=="J"){
            document.getElementById("user_select_park").text = "J 理學大樓地下停車場";
        }
        else if(select_page=="1"){
            document.getElementById("user_select_park").text = "1 管院平面";
        }
        else if(select_page=="2"){
            document.getElementById("user_select_park").text = "2 雲平平面";
        }
        else if(select_page=="3"){
            document.getElementById("user_select_park").text = "3 新園平面";
        }
        else if(select_page=="4"){
            document.getElementById("user_select_park").text = "4 土木及水利平面";
        }
        else if(select_page=="5"){
            document.getElementById("user_select_park").text = "5 自強平面";
        }
        else if(select_page=="6"){
            document.getElementById("user_select_park").text = "6 勝後平面";
        }
        else if(select_page=="7"){
            document.getElementById("user_select_park").text = "7 力行平面";
        }
        else if(select_page=="8"){
            document.getElementById("user_select_park").text = "8 成杏平面";
        }     
    }
    //按下 送出預約
    function book_park(){
        //取得先前傳入的user_id
        var getUrlString = location.href;
        var url = new URL(getUrlString);
        select_user_id = url.searchParams.get('user_id');
        //檢查是否有填寫過停車位
        //如果沒有 則在mid.py填寫
        //如果有 則警示 "請先取消停車位"
        a_basic = $.ajax({
                url:"/static/information.json",
                type:"GET",
                dataType:"json",
                async:false,
            });
        //取得Json檔
        //將string轉換成Object
        result_park=$.parseJSON(a_basic.responseText)
        console.log(result_park)
        check_user_exist = 0 //確認使用者是否存在 若不存在 則 跳出警示 "請重新登入"
        json_number = 0 //存在目前使用者在json檔案中是在哪一個
        //若存在 則在確定是否定位
        //若不存在定位 則可以繼續
        //若存在定位 則顯示 請取消先前定位之資料
        for(i=0;i<result_park.length;i++){
            if(select_user_id == result_park[i]["user_id"]){
                //若已經有寫過資料
                check_user_exist = 1
                json_number = i
            }
        }
        if (check_user_exist == 0){ //使用者不存在
            alert("請重新登入");
        }
        //若使用者存在 確認是否填寫過資料
        else if(result_park[json_number]["user_select_park"]!=""){
            alert("請先取消先前預約 在做新的預約");
        }
        //檢查車排是否填寫
        else if (document.getElementById("user_car").value == ""){
            alert("請填寫車牌號碼");
        } 
        //都成功填寫 先確認是否有車位 
        //沒有車位 : 警示沒有車位
        //有車位 : 儲存預約結果到information.json 並更新 park_information.json 
        //結束後轉跳到預約成功之頁面
        else{
            console.log(select_user_id)
            //取的所填寫之車牌
            console.log(document.getElementById("user_car").value)
            //取得所填寫之停車場    
            console.log(document.getElementById("select_select").value)
            //取得所填寫之時間日期
            console.log(document.getElementById("user_park_date").value)
            /********************讀取 停車場剩餘車位之JSON檔*****************/
            //讀取json檔案
            a_park = $.ajax({
                url:"/static/park_information.json",
                type:"GET",
                dataType:"json",
                async:false,
            });
            //取得Json檔
            //將string轉換成Object
            result_park=$.parseJSON(a_park.responseText)
            /**************************************************************/
            //根據所選停車場 取得剩下車位
            console.log(result_park[(document.getElementById("select_select").value)[0]])
            var select_park_number = result_park[(document.getElementById("select_select").value)[0]]
            var remain_select_park = result_park[(document.getElementById("select_select").value)[0]]
            //若停車位不足
            if (remain_select_park <= 0 ){
                alert("所剩下停車位不足 請重新選擇")
            }
            //若足夠
            else{
                window.location.href="index_P6_ok.html?select=" + (document.getElementById("select_select").value)[0] 
                    + "&car=" +  (document.getElementById("user_car").value) 
                    + "&park_date=" + document.getElementById("user_park_date").value
                    + "&user_id=" + select_user_id
                }
            }
        }
    
</script>
</html>